<div class="justify-content-center spacer">
    <div class="row mx-2">
        <div class="col p-2">
            <button class="btn btn-block big">menu1</button>
        </div>
        <div class="col p-2">
            <button class="btn btn-block big">menu2</button>
        </div>
    </div>
    <div class="row mx-2">
        <div class="col p-2">
            <button class="btn btn-block big">menu3</button>
        </div>
        <div class="col p-2">
            <button class="btn btn-block btn-light big">menu4</button>
        </div>
    </div>
    
</div>